@using WebApp.Entities
@model Student
<html>
<head>
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>

    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Hobby)
            @Html.DropDownListFor(m => m.Hobby, Html.GetEnumSelectList(typeof(Hobby)))
            @Html.ValidationMessageFor(m => m.Hobby)
        </div>
        <div>
            <input type="submit" value="Save"
        </div>
    }
</body>
</html>